* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --sections-width: 80%;
    --normal-font: 'IBM Plex Mono', monospace;
    --headers-font: 'Nunito', sans-serif;
    --normal-font-size: 14px;
    --normal-text-clr: #9C9C9C;
    --normal-white-clr: #fff;
    --header-black-clr: #080808;
    --normal-black-clr: #000;
    --cta-btn-bg: #62BA1B;
    --cta-btn-bg2: #FFA217;
    --cta-btn-bg3: #000AFF;
}

body {
    font-family: var(--normal-font);
}

header {
    background-color: var(--normal-black-clr);
    width: 100%;
}

/*navigations*/
.navigations {
    background-color: #1B1B1B;
    width: var(--sections-width);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3%;
    padding-block: 1rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;

}

.logo a {
    color: var(--normal-white-clr);
    font-size: 2rem;
    font-family: var(--headers-font);
    font-weight: 800;
    letter-spacing: 2px;
}

.navvy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin-right: 3.5rem;
}

.navigations_icon > li {
    display: inline-block;
    margin-right: 1rem;
}



.social_icon > li:nth-child(3) {
    margin-right: 0;
}

.navigations_icon> li a {
    color: var(--normal-text-clr);
    font-size: var(--normal-font-size);
}
/*navigations ends*/

/*header left and right div*/
.header-container {
    width: var(--sections-width);
    margin-inline: auto;
    padding-top: 5rem;
}

.header-container_double {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.content :is(h1) {
    color: var(--normal-white-clr);
    font-family: var(--headers-font);
    font-size: 3.2rem;
}

.content :is(p) { 
    color: var(--normal-text-clr);
    font-size: var(--normal-font);
    line-height: 24px;
    /* width: 600px; */
    margin-block: 1rem;
}

.my-img :is(img) {
    width: 100%;
    height: 100%;
    border-radius: 50;
}

.header-container_left {
    display: flex;
    align-items: center;
}

/*cta btn*/
.cta-btn {
    background-color: var(--cta-btn-bg);
    border: none;
    margin-top: 1.3rem;
    padding: .8rem 3rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.5);
    border-radius: 4px;
    font-weight: 600;
}

.cta-btn:hover {
    background-color: #3F8E00;
}

.cta-btn :is(a) {
    display: block;
    color: var(--normal-white-clr);
    font-family: var(--normal-text-clr);
    font-size: var(--normal-font-size);
}

.cta-btn :is(span) {
    margin-left: 10px;
}
/*header left and right ends*/

/*companies logo*/
.companies-icons {
    margin-top: 2.5rem;
}

.companies-icons_div {
    display: flex;
    justify-content: space-between;
}


/* case section */
.case-section {
    color: var(--normal-text-clr);
    padding-top: 3rem;
    padding-bottom: 2rem;
    width: var(--sections-width);
    margin-inline: auto;
}

.case-section_div > h2 {
    margin-bottom: .5rem;
    font-family: var(--headers-font);
    color: var(--normal-black-clr);
    /* font-weight: 900; */
}

.case-section_div > p {
    font-size: var(--normal-font);
    line-height: 24px;
}

.case-section_div {
    width: 60%;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 4rem;
}
/* what i do section*/
.wid {
    margin-inline: auto;
    margin-bottom: 3rem;
    display: grid;
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1rem;
}

.wid_content {
    display: flex;
    align-items: center;
}

.wid_content-div h2 {
    font-family: var(--headers-font);
    color: var(--header-black-clr);
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.wid_content-div p {
    font-size: var(--normal-font);
    line-height: 24px;
}

.wid_img > img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
}

.front {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
}

.yellow {
    background: #FFF6E9;
    color: var(--cta-btn-bg2);
}
.blue {
    background: #D0E6FF;
    ;
    color: var(--cta-btn-bg3);
}
.green {
    background: #E0FFF8;
    ;
    color: var(--cta-btn-bg);
}

.btn-exp {
    border: none;
    margin-top: 1.3rem;
    padding: .5rem 1.7rem;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
}

.btn-exp :is(a) {
    display: block;
    color: var(--normal-white-clr);
    font-family: var(--normal-text-clr);
    font-size: var(--normal-font-size);
}

.btn-exp :is(span) {
    margin-left: 10px;
}

.exp-yellow {
    background: var(--cta-btn-bg2);
}
.exp-blue {
    background: var(--cta-btn-bg3);
}
.exp-green {
    background: var(--cta-btn-bg);
}


@media screen and (max-width: 1107px){
    .content :is(h1) {
        font-size: calc(3.5rem - 20px);
    }
}

@media screen and (max-width: 973px) {
    .navigations,
    .case-section,
    .case-section_div {
        width: 100%;
        padding-inline: 4%;
    }
    .header-container_double {
        display: block;
    }

    .my-img {
        margin-top: 2rem ;
    }

    .companies-icons_div {
        overflow-x: hidden;
        overflow-x: scroll;
    }

    .companies-icons_div::-webkit-scrollbar {
        display: none;
    }
}
