* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

:root {
    --sections-width: 80%;
    --normal-font: 'IBM Plex Mono', monospace;
    --headers-font: 'Nunito', sans-serif;
    --normal-font-size: 14px;
    --normal-text-clr: #9C9C9C;
    --normal-white-clr: #fff;
    --header-black-clr: #080808;
    --normal-black-clr: #000;
    --cta-btn-bg: #62BA1B;
    --cta-btn-bg2: #FFA217;
    --cta-btn-bg3: #000AFF;
}

body {
    font-family: var(--normal-font);
    scroll-behavior: smooth;
}

header {
    padding-top: 4.5rem;
    background-color: var(--normal-black-clr);
    width: 100%;
    
}

/*navigations*/
 .hamburger-menu {
    display: none;
    width: 30px;
}

.navigations {
    position: fixed;
    top: 0;
    left: -50%;
    right: -50%;
    z-index: 2;
    background-color: #1B1B1B;
    width: var(--sections-width);
    margin-inline: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3%;
    padding-block: 1rem;
    border-bottom-left-radius: .2rem;
    border-bottom-right-radius: .2rem;
    transition: transform 400ms ease-in-out;
}

.scroll-switch {
    transform: translate3d(0, -101%, 0);
}

.scroll-switch-wid {
    width: 100%;
}

.logo a {
    color: var(--normal-white-clr);
    font-size: 1.5rem;
    font-family: var(--headers-font);
    font-weight: 800;
    letter-spacing: 2px;
    border: 3px solid white;
    padding-inline: .5rem;
}

.whiteBg {
    background-color: white;
}

.logo span {
    color: var(--cta-btn-bg);
}

.navvy {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    margin-right: 3.5rem;
}

:is(.navigations_icon, .social-icon) li {
    display: inline-block;
    margin-right: 1rem;
    transition: all .5s;
}

:is(.navigations_icon) li:hover {
    transform: scale(1.3);
    padding-inline: 5px;
}

:is(.social-icon) li:hover {
    transform: scale(1.3);
}

.navigations a:hover {
    color: var(--cta-btn-bg);
}

.social_icon > li:nth-child(3) {
    margin-right: 0;
}

:is(.navigations_icon, .social-icon) li a {
    color: var(--normal-text-clr);
    font-size: var(--normal-font-size);
}
/*navigations ends*/

/*header left and right div*/
.header-container {
    width: var(--sections-width);
    margin-inline: auto;
    padding-top: 5rem;
    
}

.header-container_double {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 2rem;
}

.content :is(h1) {
    color: var(--normal-white-clr);
    font-family: var(--headers-font);
    font-size: 3.2rem;
}

.content :is(p) { 
    color: var(--normal-text-clr);
    font-size: var(--normal-font);
    line-height: 24px;
    margin-block: 1rem;
}

.my-img :is(img) {
    width: 100%;
    height: 100%;
}

.header-container_left {
    display: flex;
    align-items: center;
}

/*cta btn*/
.form-submit-btn:hover {
    background-color: #3F8E00;
}

.form-submit-btn a {
    display: block;
    padding: 1.25rem 3rem .90rem 3rem;
    color: var(--normal-white-clr);
    font-family: var(--normal-font);
    font-size: var(--normal-font-size);
    font-weight: 600;
}

.form-submit-btn img {
    margin-left: 10px;
}
/*header left and right ends*/

.hit-me {
    padding: .90rem 3rem;
    color: var(--normal-white-clr);
    font-family: var(--normal-font);
    font-size: var(--normal-font-size);
    font-weight: 600;
    background-color: var(--cta-btn-bg);
    margin-top: 1.3rem;
    cursor: pointer;
    border-radius: 2px;
    display: inline-block;
    box-shadow: 10px 10px #292929;
    transition: 400ms ease-in-out;
}

.hit-me:hover {
    box-shadow: none;
    background-color: #3F8E00;
}

.git-icon {
    margin-left: 1rem;
    width: 25px;
}

/*companies logo*/
.companies-icons {
    margin-top: 2.5rem;
}

.companies-icons > p {
    color: var(--normal-text-clr);
    margin-bottom: 1rem;
}

.companies-icons_div {
    display: flex;
    justify-content: space-between;
}
/* companies logo ends */


/* case section */
.case-section {
    color: var(--normal-text-clr);
    padding-top: 3rem;
    padding-bottom: 2rem;
    width: 100%;
    margin-inline: auto;
}

.case-section_div > h2 {
    margin-bottom: .5rem;
    font-family: var(--headers-font);
    color: var(--normal-black-clr);
}

.case-section_div > p {
    font-size: var(--normal-font);
    line-height: 24px;
}

.case-section_div {
    width: 60%;
    text-align: center;
    margin-inline: auto;
    margin-bottom: 4rem;
}
/* case section ends */

/* what i do section*/
.wid {
    width: var(--sections-width);
    margin-inline: auto;
    padding-bottom: 2.5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.wid_content {
    display: flex;
    align-items: center;
}

.wid_content-div h2 {
    font-family: var(--headers-font);
    color: var(--header-black-clr);
    margin-bottom: .5rem;
    margin-top: 1rem;
}

.wid_content-div p {
    font-size: var(--normal-font);
    line-height: 24px;
}

.wid_img {
    height: 350px;
}

.wid_img > img {
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 6px;
}

.front {
    display: inline-block;
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 600;
}

.yellow {
    background: #FFF6E9;
    color: var(--cta-btn-bg2);
}
.blue {
    background: #D0E6FF;
    ;
    color: var(--cta-btn-bg3);
}
.green {
    background: #E0FFF8;
    ;
    color: var(--cta-btn-bg);
}

.btn-exp {
    border: none;
    margin-top: 1.3rem;
    padding: .5rem 1.7rem;
    border-radius: 4px;
    cursor: pointer;
    border-radius: 4px;
    font-weight: 600;
}

.btn-exp :is(a) {
    display: block;
    color: var(--normal-white-clr);
    font-family: var(--normal-text-clr);
    font-size: var(--normal-font-size);
}

.btn-exp :is(span) {
    margin-left: 10px;
}

.exp-yellow {
    background: var(--cta-btn-bg2);
}
.exp-blue {
    background: var(--cta-btn-bg3);
}
.exp-green {
    background: var(--cta-btn-bg);
}
/* what i do ends */

/* testimonials starts */
.testimonial {
    padding-block: 3rem;
    width: 100%;
    color: var(--normal-text-clr);
    background: var(--normal-black-clr);
}

.test-header h2{
    color: var(--normal-white-clr);
}

.testimonial-tweet {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    width: var(--sections-width);
    margin-inline: auto;
    grid-gap: 2.2rem 1rem;
}

.testimonial_div {
    position: relative;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: 1px solid #9C9C9C;
    border-style: solid;
    border-width: 1px;
    border-radius: 4px;
    padding: 1rem 2.5rem 1rem 1rem;
}

.quote-icon {
    position: absolute;
    top: -10px;
}

.testimonial_div p {
    padding-block: 1.5rem;
    line-height: 24px;
}

.profile {
    display: flex;
    align-items: center;
}

.profile img {
    margin-right: .7rem;
}

.profile span {
    font-family: var(--headers-font);
    color: var(--normal-white-clr);
}

.new-work {
    padding-block: 3rem;
    width: 100%;
}
/* twstimonials ends */

/* current work */
.workings {
    width: var(--sections-width);
    margin-inline: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.workings::-webkit-scrollbar {
    display: none;
}

.hustle img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin-right: 1rem;
}
/* my current work ends */

/* contact ends */
.form-container {
    width: var(--sections-width);
    margin-inline: auto;
}

.contact {
    width: 100%;
    background-color: var(--normal-black-clr);
    padding-block: 3rem;
}

.test-header > p {
    color: var(--normal-text-clr);
}

.form {
    width: 50%;
    margin-inline: auto;
}

input[type="email"],
input[type="tel"],
.msg {
    background: #F8F8F8;
    margin-top: .4rem;
    margin-bottom: 1rem;
    padding: .5rem;
    line-height: 21px;
    width: 98%;
    border: none;
    border-radius: 4px;
    font-weight: 600;
    font-family: var(--normal-font);
}

.form-label {
    color: var(--normal-white-clr);
    font-size: 12px;
    font-weight: 600;
}

.form-submit-btn {
    background-color: var(--cta-btn-bg);
    width: 98%;
    border: none;
    text-decoration: none;
    margin-top: 1.3rem;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0px 8px 30px rgba(63, 142, 0, 0.5);
    border-radius: 4px;
}

/* ANIMATION */
.animation-right {
    animation-name: pro-image;
    animation-duration: 2s;
    position: relative;
}

@keyframes pro-image {
    from {left: -100%;}
    to {left: 0;}
}

.animation-left {
    animation-name: pro-name;
    animation-duration: 2s;
    position: relative;
}

@keyframes pro-name {
    from {right: -100%;}
    to {right: 0px;}
}


/* media queries begins here */
@media screen and (max-width: 1107px){
    .content :is(h1) {
        font-size: calc(3.5rem - 20px);
    }
}

/* makes all the middle divs jump to 100 percent on mobile */
@media screen and (max-width: 973px) {
    /* mobile containers */
    :is(.header-container, .navigations, .wid, .testimonial-tweet, .form-container) {
        width: 100%;
        padding-inline: 4%;
    }
    /* mobile containers */

    /* hamburger-menu */
    .hamburger-menu {
        display: inline;
        position: absolute;
        right: 4%;
        cursor: pointer;
    }

    /* x menu */
.order-container {
    cursor: pointer;
}

.hamburger-menu :is(.bar1, .bar2, .bar3) {
    width: 35px;
    height: 5px;
    border-radius: 5px;
    background-color: #fff;
    margin: 6px 0;
    transition-duration: 0.4s;
}

.playing {
    display: grid;
    place-items: center;
    border: 2px solid white;
    width: 100%;
    padding: 4rem;
    margin-block: 2rem;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-8px, -8px);
}
/* --------------------- */

    /* navigation */
    .navvy {
        padding-block: 1rem;
        background-color: var(--normal-black-clr);
        position: absolute;
        display: block;
        left: 0;
        top: 100%;
        width: 100%;
        opacity: 0;
        transition: ease-in-out .5s;
    }

    .hamburger-show {
        opacity: 1;
    }

    .navigations {
        background-color: var(--normal-black-clr);
        padding-block: 1.5rem;
        position: fixed;
        top: 0;
        z-index: 999;
    }

    .navigations {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .navigations li {
        display: block;
        text-align: center;
        padding-block: 1.5rem;
    }

    .social-icon {
        text-align: center;
    }

    .social-icon li {
        display: inline-block;
        padding-top: 1.5rem;
        text-align: center;
    }

    .menu {
        margin-right: 0;
    }
    /* ends */

    .case-section {
        padding-top: 1rem;
        padding-bottom: unset;
    }

    .new-work {
        padding-top: 1rem;
        padding-bottom: 0;
    }

    /* take up full width */
    .workings {
        width: 100%;
    }
    /* ----- */

    .wid {
        gap: 1rem;
        grid-template-columns: none;
    }

    /* make image go back to it normal size */
    .wid_img {
        height: unset;
    }

    .wid-mobile {
        margin-bottom: 1rem;
    }

    .testimonial {
        padding-top: 1rem;
    }

    .case-section_div {
        width: 100%;
        padding: 6%;
        margin-bottom: 2rem;
    }

    .content :is(h1) {
        font-size: 40px;
    }

    .header-container_double {
        display: block;
    }

    .header-container_left {
        margin-top: 1.5rem;
    }
    .my-img {
        margin-top: 2rem ;
    }

    /* make icon scroll */
    .companies-icons_div {
        overflow-x: scroll;
    }

    .companies-icons_div::-webkit-scrollbar {
        display: none;
    }

    .form {
        width: 96%;
    }
    /* ends */

    /* ANIMATION */
.animation-right {
    animation-name: pro-image;
    animation-duration: 2s;
    position: relative;
}

@keyframes pro-image {
    from {left: -100%;}
    to {left: 0px;}
}

.animation-left {
    animation-name: pro-name;
    animation-duration: 2s;
    position: relative;
}

@keyframes pro-name {
    from {right: -100%;}
    to {right: 0px;}
}
}